<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- packages.config projects (DrawingClient, SharedLib) restore vao .\packages de khop HintPath ..\packages\.
       SDK-style projects (DrawingServer, LoadBalancer) van dung global packages folder. -->
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
